In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('../Data/Cleaned/Economy_Raw.csv')
df.head(3)

,FIPS,State,County,% Unemployed,Median Household Income,state_total,"Poverty Percent, All Ages"
0,1001,Alabama,Autauga,5.0,3.0,2.642857,5.0
1,1003,Alabama,Baldwin,5.0,3.0,2.642857,2.0
2,1005,Alabama,Barbour,9.0,10.0,2.642857,10.0

In [14]:
df2 = df.iloc[:,0:3]
df2['Economy Score'] = [(row[3] * 5 + row[4] * 5 + row[5] * 2 + row[6] * 6)/18 for i, row in df.iterrows()]
df2.head()

   FIPS    State   County  Economy Score
0  1001  Alabama  Autauga       4.182540
1  1003  Alabama  Baldwin       3.182540
2  1005  Alabama  Barbour       8.904762
3  1007  Alabama     Bibb       6.904762
4  1009  Alabama   Blount       4.738095

In [15]:
df2.to_csv('../Data/Cleaned/Economy_Scores.csv')