In [1]:
import pandas as pd

In [4]:
cols = ['GEO_ID','Geographic Area Name','S1501_C02_012E']
df = pd.read_csv('../Data/Education/Educational Attainment/Education_Attainment.csv', usecols = cols)
df.head(3)

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C02_001E,S1501_C02_001M,S1501_C03_001E,S1501_C03_001M,S1501_C04_001E,S1501_C04_001M,...,S1501_C02_033M,S1501_C03_033E,S1501_C03_033M,S1501_C04_033E,S1501_C04_033M,S1501_C05_033E,S1501_C05_033M,S1501_C06_033E,S1501_C06_033M,S1501_C01_034E
0,id,Geographic Area Name,Estimate!!Total!!Population 18 to 24 years,Margin of Error!!Total MOE!!Population 18 to 2...,Estimate!!Percent!!Population 18 to 24 years,Margin of Error!!Percent MOE!!Population 18 to...,Estimate!!Male!!Population 18 to 24 years,Margin of Error!!Male MOE!!Population 18 to 24...,Estimate!!Percent Male!!Population 18 to 24 years,Margin of Error!!Percent Male MOE!!Population ...,...,Margin of Error!!Percent MOE!!RACE AND HISPANI...,Estimate!!Male!!RACE AND HISPANIC OR LATINO OR...,Margin of Error!!Male MOE!!RACE AND HISPANIC O...,Estimate!!Percent Male!!RACE AND HISPANIC OR L...,Margin of Error!!Percent Male MOE!!RACE AND HI...,Estimate!!Female!!RACE AND HISPANIC OR LATINO ...,Margin of Error!!Female MOE!!RACE AND HISPANIC...,Estimate!!Percent Female!!RACE AND HISPANIC OR...,Margin of Error!!Percent Female MOE!!RACE AND ...,Estimate!!Total!!RACE AND HISPANIC OR LATINO O...
1,0500000US01117,"Shelby County, Alabama",17648,776,(X),(X),8406,410,(X),(X),...,2.2,24992,1609,44.4,2.9,24999,1880,40.4,3.0,17586
2,0500000US01121,"Talladega County, Alabama",6743,138,(X),(X),3236,2,(X),(X),...,4.0,3337,846,19.0,4.8,3617,891,18.9,4.6,18385

In [13]:
cols = ['FIPS Code', 'State', 'Area name', "adults_bs_2014-18"]
df = pd.read_csv('../Data/Education/Educational Attainment/Education_data.csv', usecols = cols, encoding='iso-8859-1' )

In [15]:
df.head()

   FIPS Code State       Area name  adults_bs_2014-18
0          0    US   United States               31.5
1       1000    AL         Alabama               24.9
2       1001    AL  Autauga County               27.7
3       1003    AL  Baldwin County               31.3
4       1005    AL  Barbour County               12.2

In [17]:
df.to_csv('../Data/Cleaned/Eduction_Educational_Attainment.csv')