In [1]:
import pandas as pd
import re
import numpy as np

In [34]:
columns = ['STNAM', 'LEANM', 'ALL_RATE_1718', 'ALL_COHORT_1718']
df = pd.read_csv('../Data/Education/Graduation_Rates/graduation_rates.csv', usecols=columns)

In [35]:
mask = [ (i in '123456789' and int(i) < 50) for i in df['ALL_RATE_1718']]
mask2 = ['#' in i for i in df['LEANM']]
mask3 = [re.match(r'[0-9][0-9][\-][0-9][0-9]', i ) != None for i in df['ALL_RATE_1718']]

In [36]:
def clean_rate(i):
    def avg_rate(i):
        return (int(i[3:5]) + int(i[0:2])) /2 
    
    reg_range = r'[0-9][0-9][\-][0-9][0-9]'
    reg_less_greater = '^[L|G]'
    reg_other = r'^[P]'
    try:
        if re.match(reg_range, str(i)) != None:
            return str(avg_rate(i))

        if re.match(reg_less_greater, str(i)) !=None:
            return i[2:]

        if re.match(reg_other, str(i)) or len(str(i)) > 3:
            return np.nan
        
        return i
    except Exception as e:
        print('Exception caught: ', e, i)

In [37]:
df.ALL_RATE_1718 = pd.Series([clean_rate(i) for i in df['ALL_RATE_1718']])

In [40]:
df = df.dropna()
df

,STNAM,LEANM,ALL_COHORT_1718,ALL_RATE_1718
0,ALABAMA,Albertville City,312,94
1,ALABAMA,Marshall County,416,91
2,ALABAMA,Hoover City,1120,94
3,ALABAMA,Madison City,923,96
4,ALABAMA,Leeds City,128,95
...,...,...,...,...
12307,WYOMING,Sweetwater County School District #2,209,92
12308,WYOMING,Washakie County School District #2,8,50
12309,WYOMING,Teton County School District #1,188,87.0
12310,WYOMING,Weston County School District #7,22,80
12311,WYOMING,Washakie County School District #1,89,87.0

In [111]:
df[mask2]

         STNAM                                     LEANM ALL_RATE_1718
405    ARIZONA             Chandler Unified District #80            92
430    ARIZONA   Baboquivari Unified School District #40         55-59
433    ARIZONA       Kayenta Unified School District #27         80-84
445    ARIZONA  Navajo County Accommodation District #99          LT50
483    ARIZONA     Tuba City Unified School District #15         70-74
...        ...                                       ...           ...
12307  WYOMING      Sweetwater County School District #2            92
12308  WYOMING        Washakie County School District #2          GE50
12309  WYOMING           Teton County School District #1         85-89
12310  WYOMING          Weston County School District #7          GE80
12311  WYOMING        Washakie County School District #1         85-89

[91 rows x 3 columns]

In [44]:
df[mask]

,STNAM,FIPST,LEAID,ST_LEAID,LEANM,ALL_COHORT_1718,ALL_RATE_1718,MAM_COHORT_1718,MAM_RATE_1718,MAS_COHORT_1718,...,CWD_RATE_1718,ECD_COHORT_1718,ECD_RATE_1718,FCS_COHORT_1718,FCS_RATE_1718,HOM_COHORT_1718,HOM_RATE_1718,LEP_COHORT_1718,LEP_RATE_1718,DATE_CUR
219,ARIZONA,4,400103,AZ-4323,Ombudsman Educational Services Ltd. a subsidia...,585,23,47.0,20-29,7.0,...,20-29,NaN,NaN,NaN,NaN,17.0,LE20,21.0,LE20,23-Sep-19
260,ARIZONA,4,400273,AZ-78997,GAR LLC dba Student Choice High School,585,23,25.0,LE20,7.0,...,30-39,NaN,NaN,2.0,PS,NaN,NaN,9.0,LT50,23-Sep-19
357,ARIZONA,4,400816,AZ-90201,Educational Options Foundation,415,12,13.0,LT50,3.0,...,LE20,143.0,9-Jun,3.0,PS,NaN,NaN,6.0,LT50,23-Sep-19
1248,CALIFORNIA,6,691029,CA-3610363,San Bernardino County Office of Education,423,23,1.0,PS,7.0,...,14-Oct,401.0,24,73.0,20-24,101.0,30-34,66.0,20-24,23-Sep-19
1271,CALIFORNIA,6,691078,CA-1910199,Los Angeles County Office of Education,938,45,1.0,PS,53.0,...,25-29,737.0,33,277.0,20-24,137.0,25-29,158.0,15-19,23-Sep-19
1467,CONNECTICUT,9,900003,CT-336,UNIFIED SCHOOL DISTRICT #1,342,3,NaN,NaN,NaN,...,9-Jun,334.0,3,13.0,LT50,NaN,NaN,NaN,NaN,23-Sep-19
1731,GEORGIA,13,1300026,GA-891,Department of Juvenile Justice,245,7,NaN,NaN,1.0,...,9-Jun,70.0,LE5,1.0,PS,NaN,NaN,NaN,NaN,23-Sep-19
1744,GEORGIA,13,1300227,GA-7820412,State Charter Schools- Georgia Connections Aca...,627,45,3.0,PS,14.0,...,30-34,229.0,30-34,NaN,NaN,3.0,PS,3.0,PS,23-Sep-19
1747,GEORGIA,13,1300235,GA-7820613,State Charter Schools- Foothills Charter High ...,752,8,NaN,NaN,8.0,...,LE5,353.0,10,8.0,LT50,19.0,LE20,17.0,LE20,23-Sep-19
1749,GEORGIA,13,1300246,GA-7820618,State Charter Schools- Coastal Plains Charter ...,377,8,NaN,NaN,1.0,...,LE10,190.0,14-Oct,1.0,PS,5.0,PS,12.0,LT50,23-Sep-19
2594,INDIANA,18,1800186,IN-9155,Indiana Virtual Pathways Academy,1012,2,7.0,LT50,4.0,...,LE5,478.0,2,10.0,LT50,11.0,LT50,28.0,LE20,23-Sep-19
4311,MICHIGAN,26,2600972,MI-41925,Michigan Virtual Charter Academy,445,34,1.0,PS,9.0,...,20-24,303.0,27,1.0,PS,15.0,LT50,11.0,LT50,23-Sep-19
4469,MICHIGAN,26,2610080,MI-50070,Clintondale Community Schools,669,34,2.0,PS,4.0,...,40-49,514.0,33,2.0,PS,10.0,GE50,38.0,40-49,23-Sep-19
7977,OHIO,39,3900079,OH-133413,Electronic Classroom Of Tomorrow,2112,7,4.0,PS,13.0,...,2,1407.0,6,62.0,LE5,107.0,LE5,40.0,LE10,23-Sep-19
8038,OHIO,39,3900488,OH-000282,Greater Ohio Virtual School,294,34,NaN,NaN,1.0,...,20-24,64.0,30-34,20.0,LE20,23.0,LE20,19.0,LE20,23-Sep-19
8747,OKLAHOMA,40,4003180,OK-10-I019,ARDMORE,225,6,30.0,LE20,8.0,...,LE20,218.0,9-Jun,6.0,LT50,21.0,LE20,10.0,LT50,23-Sep-19
11579,WASHINGTON,53,5300313,WA-17937,Lake Washington Institute of Technology,206,7,1.0,PS,9.0,...,LE10,89.0,LE5,NaN,NaN,15.0,LT50,12.0,LT50,23-Sep-19

In [93]:
re.match('[0-9][0-9][\-][0-9][0-9]', '99-98') != None

True