In [2]:
import pandas as pd

#### change age to median age

In [125]:
safety = pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Safety_Scores.csv', index_col=0)
health = pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Health_Scores.csv', index_col=0)
demo = pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Demo_Scores.csv', index_col=0)
economy =pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Economy_Scores.csv', index_col=0)
col = pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/COL_Scores.csv', index_col=0)

In [126]:
df = demo.copy(deep=True,)
df= df.merge(safety, on=['FIPS', 'State', 'County'], how='outer')
df= df.merge(health, on=['FIPS', 'State', 'County'])
df=df.merge(economy, on=['FIPS', 'State', 'County'])
df=df.merge(col, on=['FIPS', 'State', 'County'])
df.head(3)
df['Total'] = df.iloc[:,7:].mean(axis = 1, skipna = True) 
# df[df['Population_bins'] > 8].sort_values(by=['Total'])

In [127]:
# weights = {'Safety_avg': 5, 'health_raw': 3, 'Economy Score': 8, 'col_scores': 8}
# df['Total'] = [mean([row[col]]*weights[col])  for i, row in df.iterrows() for col in list(weights.keys())]
# df.head(3)

In [128]:
#  [np.mean([[row[col]]*weights[col] for col in list(weights.keys())]) for i, row in df.iterrows() ]
# {'Safety_avg': 5, 'health_raw': 3, 'Economy Score': 8, 'col_scores': 8}
from numpy import ma
w = np.array([5,3,8,8])
result = []
for i, row in df.iloc[:,7:-1].iterrows():
    row = np.ma.MaskedArray(row, mask=np.isnan(row))
    result.append(np.ma.average(row, weights=w))
df['Total'] = result
df.head(3)

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,Total
0,1001,Alabama,Autauga,5,8,4,5.00,4.627907,5.849259,4.182540,2.229167,3.832540
1,1003,Alabama,Baldwin,7,5,5,5.25,4.348837,4.415556,3.182540,3.562500,3.706299
2,1005,Alabama,Barbour,4,7,2,4.50,6.475000,7.939259,8.904762,2.395833,6.108231

In [137]:
df[df['Population_bins']>7].sort_values(by=['Total']).head(50)

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,Total
2470,51059,Virginia,Fairfax,9,10,2,6.75,2.069767,1.400556,1.146825,4.666667,2.544102
2492,51107,Virginia,Loudoun,8,9,2,6.75,2.325581,1.196667,1.146825,4.687500,2.578855
649,18057,Indiana,Hamilton,8,8,6,5.50,1.511628,1.463333,1.615079,5.145833,2.751477
1568,33015,New Hampshire,Rockingham,8,9,8,4.00,3.428571,1.661296,1.765873,4.000000,2.843905
1424,29183,Missouri,St. Charles,8,9,6,5.25,3.860465,2.123333,1.448413,4.458333,3.038596
2512,51153,Virginia,Prince William,8,9,1,7.00,3.930233,2.313704,1.424603,4.645833,3.131490
288,12021,Florida,Collier,8,1,3,6.25,3.953488,3.101852,2.861111,3.291667,3.262301
2568,51810,Virginia,Virginia Beach City,8,10,3,6.75,4.767442,1.970556,1.424603,4.666667,3.269960
2274,48121,Texas,Denton,9,10,2,6.75,2.534884,2.709074,1.865079,5.354167,3.273150
1566,33011,New Hampshire,Hillsborough,8,10,6,5.75,5.200000,2.244444,1.765873,4.000000,3.285847
222,8035,Colorado,Douglas,8,9,5,5.75,2.348837,1.165556,1.968254,6.020833,3.298065
482,16001,Idaho,Ada,8,9,6,5.25,3.714286,2.056667,2.091270,4.770833,3.318261
2265,48085,Texas,Collin,9,10,2,6.75,2.697674,2.642037,2.142857,5.291667,3.370445
1771,37183,North Carolina,Wake,9,10,2,6.75,2.720930,2.494259,2.210317,5.375000,3.407082
2398,48491,Texas,Williamson,8,9,2,6.75,2.860465,3.123704,1.865079,5.416667,3.413642
332,12115,Florida,Sarasota,8,1,5,6.00,4.930233,2.810370,3.138889,3.312500,3.528891
333,12117,Florida,Seminole,8,10,2,6.75,5.441860,3.477963,2.527778,3.354167,3.529114
399,13135,Georgia,Gwinnett,9,10,1,7.00,3.790698,3.485556,2.500000,4.479167,3.551812
2463,51041,Virginia,Chesterfield,8,8,3,6.75,5.883721,3.051852,1.424603,4.437500,3.561291
2213,47149,Tennessee,Rutherford,8,10,4,6.75,5.428571,4.560000,2.662698,3.083333,3.616296
215,8013,Colorado,Boulder,8,10,5,5.75,3.232558,1.559444,2.301587,6.020833,3.642520
367,13067,Georgia,Cobb,8,10,2,7.00,4.651163,2.979074,2.500000,4.479167,3.667765
1096,25017,Massachusetts,Middlesex,9,10,4,6.25,2.930233,1.236111,2.007937,6.729167,3.677347
2408,49011,Utah,Davis,8,5,6,5.25,2.976744,2.075185,1.607143,6.812500,3.686101
1098,25021,Massachusetts,Norfolk,8,9,4,5.75,2.953488,1.369444,2.007937,6.708333,3.691914
1986,41067,Oregon,Washington,8,10,3,6.00,2.883721,1.461481,2.825397,6.020833,3.732204
841,20091,Kansas,Johnson,8,8,5,6.00,3.325581,1.283889,1.460317,7.187500,3.735921
1164,26125,Michigan,Oakland,9,9,4,5.75,3.395349,2.015185,2.337302,6.041667,3.752252
2284,48157,Texas,Fort Bend,8,9,1,7.25,3.697674,3.335185,2.698413,5.062500,3.774218
234,8059,Colorado,Jefferson,8,10,5,5.50,4.069767,1.486481,2.246032,6.062500,3.803189
2484,51087,Virginia,Henrico,8,9,2,6.75,5.860465,2.772407,2.313492,4.437500,3.817812
2348,48339,Texas,Montgomery,8,8,3,6.50,4.000000,3.660000,2.753968,4.833333,3.819934
2426,49049,Utah,Utah,8,6,5,5.00,2.883721,2.507593,1.940476,6.791667,3.824939
2001,42029,Pennsylvania,Chester,8,8,5,6.00,3.232558,1.872778,2.055556,6.708333,3.828843
1956,41005,Oregon,Clackamas,8,8,5,5.50,3.209302,1.850926,2.769841,6.020833,3.830195
2031,42091,Pennsylvania,Montgomery,9,8,4,6.00,3.232558,1.679815,2.333333,6.708333,3.897315
283,12011,Florida,Broward,9,9,1,7.25,5.302326,3.550926,3.750000,3.312500,3.902684
2719,55133,Wisconsin,Waukesha,8,7,7,5.25,2.534884,1.290926,1.682540,8.104167,3.951702
212,8005,Colorado,Arapahoe,8,10,2,6.75,4.674419,1.823704,2.246032,6.041667,3.964366
238,8069,Colorado,Larimer,8,10,5,5.25,4.023256,1.885185,2.634921,6.041667,3.966022
1996,42017,Pennsylvania,Bucks,8,8,6,5.75,3.093023,1.940370,2.611111,6.729167,4.000352
2383,48453,Texas,Travis,9,10,2,7.00,4.627907,3.050000,2.587302,5.395833,4.006442
324,12099,Florida,Palm Beach,9,4,2,6.75,6.209302,3.710000,3.472222,3.291667,4.011984
192,6081,California,San Mateo,8,10,1,6.25,2.767442,1.085185,1.845238,8.104167,4.028667
194,6085,California,Santa Clara,9,10,1,6.50,2.930233,1.085185,1.845238,8.020833,4.034804
2588,53033,Washington,King,10,10,2,6.25,4.325581,1.440000,2.924603,5.979167,4.049086
1649,36061,New York,New York,9,10,2,7.00,3.744186,2.275370,4.940476,NaN,4.066928
544,17043,Illinois,DuPage,9,9,3,6.50,1.790698,1.557037,1.817460,8.729167,4.083234
265,8123,Colorado,Weld,8,9,3,5.75,3.883721,2.313333,2.912698,6.083333,4.096952
2602,53061,Washington,Snohomish,9,10,3,6.00,3.976744,2.399444,2.869048,6.041667,4.098657

In [139]:
counties = ['San Diego', 'Los Angeles', 'Ventura', 'Multnomah', 'Teton', 'St. Louis', 'New York', 'Orange']
df[df['County'].isin(counties)].sort_values(by=['Total'])

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,Total
2742,56039,Wyoming,Teton,4,10,5,5.00,NaN,2.015556,1.785714,3.375000,2.491178
520,16081,Idaho,Teton,3,9,5,3.50,3.636364,2.026852,1.757937,4.000000,2.930244
1748,37135,North Carolina,Orange,6,10,4,6.50,2.697674,2.867593,2.932540,5.375000,3.689644
2505,51137,Virginia,Orange,4,5,5,5.25,5.333333,4.045000,2.313492,4.000000,3.721233
1480,30099,Montana,Teton,2,1,8,2.50,NaN,4.081296,5.638889,2.166667,3.930965
1649,36061,New York,New York,9,10,2,7.00,3.744186,2.275370,4.940476,NaN,4.066928
2439,50017,Vermont,Orange,4,8,10,2.25,2.969697,3.012778,2.380952,7.729167,4.365324
181,6059,California,Orange,10,10,1,6.25,3.000000,1.601852,2.789683,8.062500,4.442626
322,12095,Florida,Orange,9,10,1,7.25,6.511628,4.236481,4.472222,3.333333,4.488001
1428,29189,Missouri,St. Louis,9,7,3,5.75,7.883721,3.870741,2.948413,4.395833,4.574366
1979,41051,Oregon,Multnomah,9,10,4,6.25,5.302326,2.859444,3.769841,5.979167,4.711751
207,6111,California,Ventura,9,9,2,6.25,3.372093,2.057037,3.289683,8.083333,4.750654
188,6073,California,San Diego,10,10,2,6.75,3.465116,2.040370,3.345238,8.062500,4.779525
679,18117,Indiana,Orange,3,4,9,2.25,4.550000,5.181852,6.392857,3.583333,4.921045
1654,36071,New York,Orange,8,8,3,6.50,3.372093,2.245556,3.884921,9.541667,5.458743
2356,48361,Texas,Orange,5,6,5,6.00,6.023256,6.716481,5.698413,4.895833,5.625820
170,6037,California,Los Angeles,10,10,1,7.00,4.348837,2.451667,5.734127,8.083333,5.818286
1253,27137,Minnesota,St. Louis,6,9,7,3.50,4.953488,2.962778,5.083333,9.479167,6.256491

In [112]:
df[df['County'].isin(['Los Angeles'])]

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,Total
170,6037,California,Los Angeles,10,10,1,7.0,4.348837,2.451667,5.73,8.083333,5.816911

In [113]:
df.shape

(2746, 12)

In [124]:
df[df['State'] == 'Arizona'].sort_values(by=['Total'])

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,Total
78,4013,Arizona,Maricopa,10,8,2,6.75,6.139535,3.344259,4.19,5.416667,4.899324
82,4021,Arizona,Pinal,8,4,2,6.50,5.395349,4.665926,5.36,5.187500,5.223105
84,4025,Arizona,Yavapai,7,1,5,4.75,6.581395,4.565370,5.92,5.166667,5.637351
83,4023,Arizona,Santa Cruz,4,2,1,4.25,3.953488,4.690370,9.25,3.458333,5.646051
81,4019,Arizona,Pima,9,6,2,6.50,7.302326,3.806296,6.03,5.416667,5.812660
76,4009,Arizona,Graham,4,6,2,5.00,5.209302,6.237407,7.81,4.166667,5.857169
73,4003,Arizona,Cochise,6,3,2,6.25,6.558140,5.318333,6.81,4.687500,5.863571
74,4005,Arizona,Coconino,6,10,2,5.50,6.953488,4.639259,6.31,5.395833,5.930495
85,4027,Arizona,Yuma,7,3,1,5.75,5.674419,4.891111,8.31,4.875000,6.188559
79,4015,Arizona,Mohave,7,1,4,5.00,7.069767,6.944630,7.69,5.187500,6.633447
72,4001,Arizona,Apache,5,4,1,2.75,5.395349,8.445926,9.53,4.208333,6.759216
75,4007,Arizona,Gila,5,1,3,4.25,8.627907,6.302593,8.64,5.187500,7.194471
80,4017,Arizona,Navajo,6,2,1,4.00,7.279070,7.952778,9.25,4.875000,7.218903
77,4012,Arizona,La Paz,4,1,2,5.25,8.285714,7.155370,9.53,4.687500,7.359778