In [1]:
import pandas as pd

In [24]:
df_2 = pd.read_csv('../Data/Demographics/population_census_data.csv', encoding='iso-8859-1')
df_2.head(3)

,Geographic Area,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,per_change
0,".Autauga County, Alabama","54,571","54,597","54,773","55,227","54,954","54,727","54,893","54,864","55,243","55,390","55,533","55,869",2.329798
1,".Baldwin County, Alabama","182,265","182,265","183,112","186,558","190,145","194,885","199,183","202,939","207,601","212,521","217,855","223,234",22.477711
2,".Barbour County, Alabama","27,457","27,455","27,327","27,341","27,169","26,937","26,755","26,283","25,806","25,157","24,872","24,686",-10.085595

In [25]:
columns = ['Geographic Area', '2019', 'per_change']
df = pd.read_csv('../Data/Demographics/population_census_data.csv', encoding='iso-8859-1', usecols=columns )
df.head(4)

            Geographic Area     2019  per_change
0  .Autauga County, Alabama   55,869    2.329798
1  .Baldwin County, Alabama  223,234   22.477711
2  .Barbour County, Alabama   24,686  -10.085595
3     .Bibb County, Alabama   22,394   -2.273620

In [26]:
df_map = pd.read_csv('../Data/Demographics/US_FIPS_Codes.csv', encoding='iso-8859-1')
df_map['m'] = df_map['County Name'] + ', ' + df_map['State']
df_map

        State County Name  FIPS State  FIPS County                    m
0     Alabama     Autauga           1            1     Autauga, Alabama
1     Alabama     Baldwin           1            3     Baldwin, Alabama
2     Alabama     Barbour           1            5     Barbour, Alabama
3     Alabama        Bibb           1            7        Bibb, Alabama
4     Alabama      Blount           1            9      Blount, Alabama
...       ...         ...         ...          ...                  ...
3137  Wyoming  Sweetwater          56           37  Sweetwater, Wyoming
3138  Wyoming       Teton          56           39       Teton, Wyoming
3139  Wyoming       Uinta          56           41       Uinta, Wyoming
3140  Wyoming    Washakie          56           43    Washakie, Wyoming
3141  Wyoming      Weston          56           45      Weston, Wyoming

[3142 rows x 5 columns]

In [27]:
# df['County'] = [i.replace('.', '').split(' County,')[0].split(',')[0] for i in df['Geographic Area']]
# df['State'] = [i.split(',')[1] for i in df['Geographic Area']]
county = [i.replace('.', '').split(' County,')[0].split(',')[0] for i in df['Geographic Area']]
state = [i.split(',')[1] for i in df.iloc[:,0]]
df['m'] = pd.Series(county) + ', ' + pd.Series(state)

In [28]:
df

                  Geographic Area     2019  per_change                     m
0        .Autauga County, Alabama   55,869    2.329798     Autauga,  Alabama
1        .Baldwin County, Alabama  223,234   22.477711     Baldwin,  Alabama
2        .Barbour County, Alabama   24,686  -10.085595     Barbour,  Alabama
3           .Bibb County, Alabama   22,394   -2.273620        Bibb,  Alabama
4         .Blount County, Alabama   57,826    0.879244      Blount,  Alabama
...                           ...      ...         ...                   ...
3137  .Sweetwater County, Wyoming   42,343   -3.339725  Sweetwater,  Wyoming
3138       .Teton County, Wyoming   23,464   10.169969       Teton,  Wyoming
3139       .Uinta County, Wyoming   20,226   -4.237489       Uinta,  Wyoming
3140    .Washakie County, Wyoming    7,805   -8.477955    Washakie,  Wyoming
3141      .Weston County, Wyoming    6,927   -3.898446      Weston,  Wyoming

[3142 rows x 4 columns]

In [31]:
df_merged = pd.merge(df, df_map, left_index=True, right_index=True , on='m').drop(['m', 'Geographic Area'], axis=1)
df_merged

         2019  per_change    State County Name  FIPS State  FIPS County
0      55,869    2.329798  Alabama     Autauga           1            1
1     223,234   22.477711  Alabama     Baldwin           1            3
2      24,686  -10.085595  Alabama     Barbour           1            5
3      22,394   -2.273620  Alabama        Bibb           1            7
4      57,826    0.879244  Alabama      Blount           1            9
...       ...         ...      ...         ...         ...          ...
3137   42,343   -3.339725  Wyoming  Sweetwater          56           37
3138   23,464   10.169969  Wyoming       Teton          56           39
3139   20,226   -4.237489  Wyoming       Uinta          56           41
3140    7,805   -8.477955  Wyoming    Washakie          56           43
3141    6,927   -3.898446  Wyoming      Weston          56           45

[3142 rows x 6 columns]

In [32]:
df_merged.to_csv('../Data/Cleaned/Demographics_Population.csv')