In [1]:
import pandas as pd

In [2]:
pd.read_csv('../Data/Education/graduation_rates.csv')

,STNAM,FIPST,LEAID,ST_LEAID,LEANM,ALL_COHORT_1718,ALL_RATE_1718,MAM_COHORT_1718,MAM_RATE_1718,MAS_COHORT_1718,...,CWD_RATE_1718,ECD_COHORT_1718,ECD_RATE_1718,FCS_COHORT_1718,FCS_RATE_1718,HOM_COHORT_1718,HOM_RATE_1718,LEP_COHORT_1718,LEP_RATE_1718,DATE_CUR
0,ALABAMA,1,100005,AL-101,Albertville City,312,94,NaN,NaN,2.0,...,GE50,93.0,80-84,NaN,NaN,2.0,PS,22.0,60-79,23-Sep-19
1,ALABAMA,1,100006,AL-048,Marshall County,416,91,3.0,PS,3.0,...,70-79,249.0,85-89,2.0,PS,23.0,GE80,11.0,GE50,23-Sep-19
2,ALABAMA,1,100007,AL-158,Hoover City,1120,94,NaN,NaN,73.0,...,60-69,234.0,80-84,2.0,PS,7.0,GE50,9.0,LT50,23-Sep-19
3,ALABAMA,1,100008,AL-169,Madison City,923,96,3.0,PS,76.0,...,75-79,159.0,85-89,1.0,PS,9.0,GE50,13.0,GE50,23-Sep-19
4,ALABAMA,1,100011,AL-167,Leeds City,128,GE95,NaN,NaN,2.0,...,GE50,53.0,GE90,1.0,PS,4.0,PS,1.0,PS,23-Sep-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12307,WYOMING,56,5605762,WY-1902000,Sweetwater County School District #2,209,92,1.0,PS,NaN,...,GE90,92.0,90-94,NaN,NaN,9.0,GE50,8.0,GE50,23-Sep-19
12308,WYOMING,56,5605820,WY-2202000,Washakie County School District #2,8,GE50,NaN,NaN,NaN,...,PS,5.0,PS,NaN,NaN,NaN,NaN,NaN,NaN,23-Sep-19
12309,WYOMING,56,5605830,WY-2001000,Teton County School District #1,188,85-89,3.0,PS,5.0,...,60-79,76.0,80-84,NaN,NaN,21.0,60-79,30.0,60-79,23-Sep-19
12310,WYOMING,56,5606090,WY-2307000,Weston County School District #7,22,GE80,NaN,NaN,NaN,...,PS,6.0,GE50,NaN,NaN,NaN,NaN,NaN,NaN,23-Sep-19
12311,WYOMING,56,5606240,WY-2201000,Washakie County School District #1,89,85-89,NaN,NaN,NaN,...,GE50,48.0,70-79,NaN,NaN,3.0,PS,2.0,PS,23-Sep-19