In [1]:
import sqlalchemy as sql
import pandas as pd

In [58]:
with open('jupyter_config.txt') as file:
    config = file.read()

In [50]:
engine = sql.create_engine(config)

In [64]:
engine.table_names()

['auth_group',
 'auth_group_permissions',
 'auth_permission',
 'auth_user',
 'auth_user_groups',
 'auth_user_user_permissions',
 'django_admin_log',
 'django_content_type',
 'django_migrations',
 'django_session',
 'map_results_mapresults',
 'mapresults_mapresult',
 'tutorials_tutorial']

In [66]:
df = pd.read_sql_table('map_results_mapresults', engine)

In [67]:
df

Empty DataFrame
Columns: [zip_code, city, state, county, longitude, latitude]
Index: []

In [71]:
df = pd.read_csv(r'..\..\Data\zip_codes_states.csv')

In [73]:
df.to_sql('map_results_mapresults', engine, index=False, if_exists='replace')

In [74]:
df = pd.read_sql_table('map_results_mapresults', engine)
df

,zip_code,latitude,longitude,city,state,county
0,501,40.922326,-72.637078,Holtsville,NY,Suffolk
1,544,40.922326,-72.637078,Holtsville,NY,Suffolk
2,601,18.165273,-66.722583,Adjuntas,PR,Adjuntas
3,602,18.393103,-67.180953,Aguada,PR,Aguada
4,603,18.455913,-67.145780,Aguadilla,PR,Aguadilla
...,...,...,...,...,...,...
42736,99926,55.094325,-131.566827,Metlakatla,AK,Prince Wales Ketchikan
42737,99927,55.517921,-132.003244,Point Baker,AK,Prince Wales Ketchikan
42738,99928,55.395359,-131.675370,Ward Cove,AK,Ketchikan Gateway
42739,99929,56.449893,-132.364407,Wrangell,AK,Wrangell Petersburg
42740,99950,55.542007,-131.432682,Ketchikan,AK,Ketchikan Gateway